*, body {
    margin: 0;
    padding: 0;
}

.routingLinks {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar {
    background-color: rgb(255, 255, 172);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0px 10px;
    text-decoration: none;
}

.logoLink {
    text-decoration: none;
    color: rgb(0, 4, 255);    
}

.ul {
    display: flex;
    /* width: 350px; */
    justify-content: space-around;
    text-align: center;
    list-style: none;
    padding: 10px;
}

.routingLinks {
    padding: 10px;
    margin: 20px;
}

/* As this is css module, this css written for active class will not executed */
.active{
    background-color: yellow;
    color: lightblue;
    font-weight: bold;
}